extends layout

block content
  .main.index
    .header-text
      img(src="/images/donut1.png", alt="",width="100px")
      h1(class="header-title") Donut Clicker
      small Built with NodeJS
    .game
      .valign-wrapper.row
        .col.s10.pull-s1.m8.pull-m2.l8.pull-l2.main-tabs
          ul.tabs
            li.tab.col.s3
              a(href='#game') Jeu
            li.tab.col.s3
              a(href='#options') Options
            li.tab.col.s3
              a(href='#stats') Stats
              li.tab.col.s3
                a(href='#gains') Gains
      .valign-wrapper.row
        #game.tab-item.col.s10.pull-s1.m8.pull-m2.l8.pull-l2
          .row
            .col.s6.donuts-part
              .title Donut Clicker
              .donuts
                span.nbDonuts 0
                span  Donuts
              .freq
                span.donutsPerSec 1
                span  par seconde
              .main-donut
                a(id="donutLink")
                  img(src="/images/main-donut.png", alt="")
            .col.s6.extras-part
              .title Extras
              .extra1.disabled
                .row
                  .col.s12
                    .card.blue
                      .card-content.white-text
                        .extra-head
                          img(src="", alt="")
                        .extra-infos
                          span.extra-title
                          span
                        .extra-counter
                          span

              .extra2.disabled
                .row
                  .col.s12
                    .card.blue
                      .card-content.white-text
                        .extra-head
                          img(src="", alt="")
                        .extra-infos
                          span.extra-title
                          span
                        .extra-counter
                          span
              .extra3.disabled
                .row
                  .col.s12
                    .card.blue
                      .card-content.white-text
                        .extra-head
                          img(src="", alt="")
                        .extra-infos
                          span.extra-title
                          span
                        .extra-counter
                          span
              .extra4.disabled
                .row
                  .col.s12
                    .card.blue
                      .card-content.white-text
                        .extra-head
                          img(src="", alt="")
                        .extra-infos
                          span.extra-title
                          span
                        .extra-counter
                          span
              .extra5.disabled
                .row
                  .col.s12
                    .card.blue
                      .card-content.white-text
                        .extra-head
                          img(src="", alt="")
                        .extra-infos
                          span.extra-title
                          span
                        .extra-counter
                          span

        #options.tab-item.col.s10.pull-s1.m8.pull-m2.l8.pull-l2 Test 2
        #stats.tab-item.col.s10.pull-s1.m8.pull-m2.l8.pull-l2 Test 3
        #gains.tab-item.col.s10.pull-s1.m8.pull-m2.l8.pull-l2 Test 4


