extends layout

block content
  .main.index
    .header-text
      img(src="/images/donut1.png", alt="",width="100px")
      h1(class="header-title") Donut Clicker
      small Built with NodeJS
    .game
      .valign-wrapper.row
        .col.s10.pull-s1.m8.pull-m2.l8.pull-l2.main-tabs
          ul.tabs
            li.tab.col.s3
              a(href='#game') Jeu
            li.tab.col.s3
              a(href='#options') Options
            li.tab.col.s3
              a(href='#stats') Stats
              li.tab.col.s3
                a(href='#gains') Success
      .valign-wrapper.row
        #game.tab-item.col.s10.pull-s1.m8.pull-m2.l8.pull-l2
          .row
            .col.s6.donuts-part
              .title Donut Clicker
              .donuts
                span.nbDonuts 
                span  Donuts
              .freq
                span.donutsPerSec 
                span  par seconde
              .main-donut
                a(id="donutLink")
                  img(src="/images/main-donut.png", alt="")
                  span.donutParticle.hidden
                    span.donutParticleNb +10

              .bonus
                .bonus-title Bonus
                .col.s2.bonus-item
                  .bonus-content 1
                    //-  img(src="", alt="")
                .col.s2.bonus-item
                  .bonus-content 2
                .col.s2.bonus-item
                  .bonus-content 3
                .col.s2.bonus-item
                  .bonus-content 4
                .col.s2.bonus-item
                  .bonus-content 5
                .col.s2.bonus-item
                  .bonus-content 6
            .col.s6.extras-part
              .title 
                span.main-title Extras
                .buy
                  span
                    input#value1(name='group1', type='radio',checked)
                    label(for='value1') x 1
                  span
                    input#value10(name='group1', type='radio')
                    label(for='value10') x 10
                  span
                    input#value100(name='group1', type='radio')
                    label(for='value100') x 100

              .extra1.disabled
                .row
                  .col.s12
                    .card.hoverable.blue
                      .card-content.white-text
                        .extra-head
                          img(class="extra-head-img" src="/images/simpson/maggie.png", alt="",width="72px")
                          img(class="extra-head-shadow  hidden" src="/images/simpson/simpson-shadow/maggie_shadow.png", alt="",width="72px")
                        .extra-infos
                          span.extra-title
                          span.extra-cost
                          span.extra-donut
                            img(src="/images/donut1.png", alt="",width="15px")
                        .extra-counter
                          span

              .extra2.disabled
                .row
                  .col.s12
                    .card.hoverable.blue
                      .card-content.white-text
                        .extra-head
                          img(class="extra-head-img" src="/images/simpson/bart.png", alt="",width="70px")
                          img(class="extra-head-shadow  hidden" src="/images/simpson/simpson-shadow/bart_shadow.png", alt="",width="70px")
                        .extra-infos
                          span.extra-title
                          span.extra-cost
                          span.extra-donut
                            img(src="/images/donut1.png", alt="",width="15px")
                        .extra-counter
                          span
              .extra3.disabled
                .row
                  .col.s12
                    .card.hoverable.blue
                      .card-content.white-text
                        .extra-head
                          img(class="extra-head-img" src="/images/simpson/lisa.png", alt="",width="72px")
                          img(class="extra-head-shadow  hidden" src="/images/simpson/simpson-shadow/lisa_shadow.png", alt="",width="72px")
                        .extra-infos
                          span.extra-title
                          span.extra-cost
                          span.extra-donut
                            img(src="/images/donut1.png", alt="",width="15px")
                        .extra-counter
                          span
              .extra4.disabled
                .row
                  .col.s12
                    .card.hoverable.blue
                      .card-content.white-text
                        .extra-head
                          img(class="extra-head-img" src="/images/simpson/marge.png", alt="",width="70px")
                          img(class="extra-head-shadow  hidden" src="/images/simpson/simpson-shadow/marge_shadow.png", alt="",width="70px")
                        .extra-infos
                          span.extra-title
                          span.extra-cost
                          span.extra-donut
                            img(src="/images/donut1.png", alt="",width="15px")
                        .extra-counter
                          span
              .extra5.disabled
                .row
                  .col.s12
                    .card.hoverable.blue
                      .card-content.white-text
                        .extra-head
                          img(class="extra-head-img" src="/images/simpson/homer.png", alt="",width="70px")
                          img(class="extra-head-shadow hidden" src="/images/simpson/simpson-shadow/homer_shadow.png", alt="",width="70px")
                        .extra-infos
                          span.extra-title
                          span.extra-cost
                          span.extra-donut
                            img(src="/images/donut1.png", alt="",width="15px")
                        .extra-counter
                          span

        #options.tab-item.col.s10.pull-s1.m8.pull-m2.l8.pull-l2.options
          .opt-main
            .theme
              span 
               i.ion-android-color-palette
               | Theme
              a(class="gradient1")   
              a(class="gradient2") 
              a(class="gradient3")   
              a(class="gradient4")   
            .volume
              span
                i.material-icons volume_up 
                | Volume
                .switch
                  label
                    | Off
                    input(type='checkbox' class="switchVolume")
                    span.lever
                    | On
            .music
              span
                i.ion-music-note
                | Music
                .switch
                  label
                    | Off
                    input(type='checkbox' class="switchVolume")
                    span.lever
                    | On
            .notifications
              span
                i.ion-ios-bell
                | Notifications
                .switch
                  label
                    | Off
                    input(type='checkbox' class="switchVolume")
                    span.lever
                    | On


        #stats.tab-item.col.s10.pull-s1.m8.pull-m2.l8.pull-l2
          table.striped.responsive-table.stats
            thead
              tr
                th Item
                th Item
                th Item
                th Item
                th Item
                th Item
                th Item
                th Item
            tbody
              tr
                td test
                td test
                td test
                td test
                td test
                td test
                td test
                td test
        #gains.tab-item.col.s10.pull-s1.m8.pull-m2.l8.pull-l2 Test 4

block script
  script(src='/socket.io/socket.io.js')
  script(src="/javascripts/app.js")
  //-script test
  script.
    const smallDonut = $(".donutParticle");
    const container = $("#donutLink");

    container.click(function(e){
      const posX= e.pageX||e.clientX+document.body.scrollLeft;
      const posY= e.pageY||e.clientY+document.body.scrollTop;
      const xPosition = (posX - this.getBoundingClientRect().left - (smallDonut.innerWidth() / 2));
      const yPosition = (posY - this.getBoundingClientRect().top - (smallDonut.innerHeight() / 2));
      smallDonut.css({left:xPosition,top:yPosition});
      smallDonut.removeClass("hidden").fadeOut("slow");
      smallDonut.addClass("visible").fadeIn("slow");
      setTimeout(function () {      
        smallDonut.removeClass("visible").fadeOut("slow");
        smallDonut.addClass("hidden").fadeIn("slow");
      }, 300);

    });