doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class=pageClass)
    nav(class="custom-nav")
      .nav-wrapper
        a.brand-logo(href='/') 
          img(src="/images/logo-nav.png", alt="",width="160px")
        ul#nav-mobile.right.hide-on-med-and-down
          if user
            li
              a(class="waves-effect waves-light modal-trigger",href='#modal_htp') 
                i.ion-ios-help-outline
                | How to play ?
            li
               a(class="waves-effect waves-light modal-trigger", href="#modal_profile")
                i.ion-ios-person
                | Profile
            li
              a(href='/users/logout') 
                i.ion-log-in 
                | Log out
    block content
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="/javascripts/materialize/bin/materialize.min.js")
  block script

