extends layout

block content
    .main.login
        .header-text
            img(src="/images/donut1.png", alt="",width="100px")
            h1(class="header-title") Donut Clicker
            small Built with NodeJS
        .valign-wrapper.row.login-box

            .col.card.hoverable.s10.pull-s1.m6.pull-m3.l4.pull-l4
                form(method="POST")
                    .card-content
                        if error.length>0 && error!==null
                            p.message_error
                                span.error_icon
                                    i.ion-ios-close-outline 
                                | #{error}
                        span.card-title.left-align Connexion
                        .row
                            .input-field.col.s12
                                label(for="email") Adresse email
                                input#email.validate(type="email" name="email")
                            .input-field.col.s12
                                label(for="password") Mot de passe 
                                input#password.validate(type="password" name="password")
                            .input-field.col.s12
                                input.btn.btn-custom.waves-effect.waves-light(type="submit" value="Se connecter")
                    .card-action
                        a.link-left Mot de passe oublié ?
                        a(class="link-right" , href="/users/signup") S'inscrire