html {
    height: 100vh;
    min-height: 100vh;
    overflow: auto;
}

body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    min-height: 100vh;
    text-align: center;
    margin: auto;
    background: linear-gradient(to bottom right, #4086f6, #2f5ca0);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    overflow: auto;
}

.disabled {
    opacity: .5;
}

.login-box {
    margin-bottom: 0;
}

.custom-nav {
    background: transparent;
    box-shadow: none;
    padding: 0 30px;
}

.custom-nav .brand-logo {
    float: left;
    position: relative;
}

.btn-custom {
    text-transform: initial;
    border-color: #ef4c5d;
    background: #ef4c5d;
    margin: 0;
    border-width: 0;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    padding: 0px 30px;
    overflow: hidden;
    border-radius: 50px;
    -webkit-transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn-custom:hover,
.btn-custom:focus {
    border-color: #f23649;
    background: #f23649;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ef4c5d;
    box-shadow: 0 1px 0 0#ef4c5d;
}

.input-field label.active {
    color: #ef4c5d;
}

.login-box span.card-title {
    color: #3a495e;
    margin-bottom: 15px !important;
}

.login-box .card-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-box a.link-right,
.login-box a.link-left {
    color: #999999 !important;
}

.login-box a.link-right:hover,
.login-box a.link-right:focus,
.login-box a.link-left:hover,
.login-box a.link-left:focus {
    color: #747474 !important;
}

.main.signup .header-text {
    margin-bottom: 50px;
    margin-top: 20px;
}

.main.login .header-text {
    margin-bottom: 100px;
    margin-top: 30px;
}

.header-text {
    color: #fff;
    clear: both;
}

.header-text .header-title {
    margin: 0;
    font-family: Simpson;
    font-size: 40px;
}

.header-text small {
    font-size: 18px;
}

#card-alert .card-content {
    padding: 10px;
}

#card-alert button {
    background: none;
    border: none;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    color: #fff;
}

.main.index .header-text {
    margin-bottom: 50px;
    margin-top: 20px;
}

.main.index .tab-item {
    background: #fff;
    min-height: 500px;
}

.main.index .valign-wrapper.row {
    margin-bottom: 0;
}

.main.index .main-tabs {
    padding: 0;
}

.main.index .tab-item {
    padding: 20px;
}

.main.index .game {
    margin-bottom: 30px;
}

.main.index .game .main-donut img {
    max-width: 200px;
}

.main.index .tabs {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.main.index .tab-item {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main.index .tabs .tab a:hover,
.main.index .tabs .tab a.active {
    background-color: transparent;
    color: #ef4c5d;
}

.main.index .tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #ef4c5d;
    will-change: left, right;
}

.main.index .game .title {
    color: #3365b4;
    font-family: Simpson;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main.index .game .donuts {
    margin-bottom: 20px;
    margin-top: 20px;
}

.main.index .game .freq {
    margin-bottom: 20px;
    margin-top: 20px;
}

.main.index .game .main-donut {
    margin-bottom: 75px;
    margin-top: 75px;
}

.main.index .game .extras-part .row {
    margin: 0;
}

.main.index .game .extras-part .row .card .card-content {
    padding: 0;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.main.index .game .extras-part .extra1 .card {
    background-color: #ed599c !important;
}

.main.index .game .extras-part .extra2 .card {
    background-color: #22a15b !important;
}

.main.index .game .extras-part .extra3 .card {
    background-color: #52bedb !important;
}

.main.index .game .extras-part .extra4 .card {
    background-color: #e6531b !important;
}

.main.index .game .extra-head {
    text-align: left;
    float: left;
    width: 25%;
}

.main.index .game .extra-infos {
    float: left;
    width: 50%;
}

.main.index .game .extra-counter {
    float: left;
    width: 15%;
}

.main.index .game .extra-head img {
    vertical-align: bottom
}

.main.index .game .card-content {
    overflow: hidden;
}

.main.index .game .extra-title {
    display: block;
    font-size: 20px;
}

.main.index .game .extra-infos {
    line-height: 35px;
}

.main.index .game .extra-counter {
    font-family: Simpson;
    font-size: 25px;
    line-height: 60px;
}